@import "@penpot/plugin-styles/styles.css";

:root {
  font-family: "Work Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--db-primary);
  color: var(--df-primary);
  font-size: 14px;
}

.select {
	/* makes the arrow icon consistent with penpot's UI */
	background-size: 13px;
}

.input, .select {
	padding: 8px;
	block-size: 32px;
	font-size: 0.875rem;
	line-height: 1;
}

button,
.headline-s,
.body-m {
	user-select: none;
}

.switch-container {
	/* preserves the slider's width */
	flex-shrink: 0;
}

.plugin-container {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 100vh;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.section__body {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.row {
	align-items: center;
	display: flex;
	gap: 4px;
}

.row--padded {
	padding: 16px 8px;
}

.row--space-between {
	justify-content: space-between;
}

.stroke-input {
	position: relative;
}

.stroke-input::after {
	content: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' stroke='%238f9da3' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.333 6.667H3.667a.334.334 0 1 0 0 .666h8.666a.334.334 0 1 0 0-.666zm-9-5.334h9.334M12 12.667H4A.667.667 0 1 0 4 14h8a.667.667 0 0 0 0-1.333z'%3E%3C/path%3E%3C/svg%3E");
	position: absolute;
	top: 11px;
	left: 8px;
	width: 12px;
	height: 12px;
	line-height: 1;
	user-select: none;
}

.icon-button {
	padding: 7px;
	border-width: 1px !important;
}

.icon-button::after {
	width: 16px;
	height: 16px;
	display: block;
}

.icon-button--switch::after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' stroke='%238f9da3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M11 14.556l2.5-2.445m0 0L11 9.556m2.5 2.555H3M5 6.5L2.5 4.056m0 0L5 1.5M2.5 4.056H13'/%3E%3C/svg%3E");
}

.offset-input {
	position: relative;
}

.offset-input::after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' stroke='%238f9da3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M15 4.5V8m0 0v3.5M15 8H1m0 0V4.5M1 8v3.5'/%3E%3C/svg%3E");
	width: 12px;
	height: 12px;
	position: absolute;
	top: 8px;
	left: 8px;
	user-select: none;
}

.input--offset {
	max-width: 12ch;
	padding-left: 32px;
}

.preview-element {
  position: relative;
  background-color: var(--db-tertiary);
  border-radius: 8px;
  padding: 24px 16px;
  flex: 1;
  text-align: center;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 80px;
}

body[data-theme="light"] .preview-element {
  background-color: var(--lb-tertiary);
}

.preview-text {
	font-size: 12px;
	color: var(--df-secondary);
	line-height: 1.3;
	transition: color 0.2s ease;
	user-select: none;
}

.preview-text--selected {
  color: var(--df-primary);
  font-weight: 500;
}

body[data-theme="light"] .preview-text {
  color: var(--lf-secondary);
}

body[data-theme="light"] .preview-text--selected {
  color: var(--lf-primary);
}

.anchor-point {
	appearance: none;
	margin: 0;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--db-quaternary);
  border: 2px solid var(--db-primary);
  border-radius: 50%;
  cursor: pointer;
	transition-property: background-color, border-color;
	transition-duration:  0.2s;
	transition-timing-function: ease;
  z-index: 10;
	outline: 0;
	padding: 2px;
}

.anchor-point:hover {
  background-color: var(--df-secondary);
}

.anchor-point:focus {
	border-color: var(--da-primary);
}

.anchor-point:checked {
  background-color: var(--da-primary);
}

.anchor-point--top {
  top: -8px;
  left: calc(50% - 8px);
}

.anchor-point--right {
  right: -8px;
  top: calc(50% - 8px);
}

.anchor-point--bottom {
  bottom: -8px;
  left: calc(50% - 8px);
}

.anchor-point--left {
  left: -8px;
  top: calc(50% - 8px);
}

body[data-theme="light"] .anchor-point {
  background-color: var(--df-secondary);
  border-color: var(--lb-primary);
}

body[data-theme="light"] .anchor-point:hover {
  background-color: var(--lf-secondary);
}

body[data-theme="light"] .anchor-point:focus {
  border-color: var(--la-primary);
}

body[data-theme="light"] .anchor-point:checked {
  background-color: var(--la-primary);
}

.connector-arrow {
  font-size: 20px;
  color: var(--df-tertiary);
  margin: 0 8px;
	user-select: none;
}

body[data-theme="light"] {
  background-color: var(--lb-primary);
  color: var(--lf-primary);
}

body[data-theme="light"] .plugin-container {
  background-color: var(--lb-primary);
}

body[data-theme="light"] .connector-arrow {
  color: var(--lf-tertiary);
}

.color-input {
	display: flex;
	gap: 2px;
}

.color-input__color {
	position: relative;
	flex: 1;
	display: flex;
	gap: 10px;
}

.color-input__preview {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 8px;
	left: 10px;
	border-radius: 4px;
}

.color-input__opacity {
	position: relative;
}

.color-input__opacity::after {
	display: inline-block;
	content: '%';
	position: absolute;
	top: 10px;
	left: 8px;
	line-height: 1;
	user-select: none;
}

.input--color {
	flex: 1;
	padding-left: 32px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input--color:invalid {
	border-color: var(--error-500);
}

.input--stroke {
	padding-left: 32px;
	max-width: 12ch;
}

.input--opacity {
	padding-left: 32px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	width: 80px;
}

.output {
	background-color: var(--db-tertiary);
	padding: 8px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease, visibility 0s linear 0.2s;
	border-left: 4px solid var(--db-quaternary);
}

body[data-theme="light"] .output {
	background-color: var(--lb-secondary);
}

.output--visible {
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}

.output--error {
		color: var(--error-500);
		border-color: var(--error-500);
}

.output--success {
		color: var(--success-500);
		border-color: var(--success-500);
}
